<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Server Side JavaScript</title>
</head>
<body>
    <h1><a href="/topic">Server Side Javascript</a></h1>
    <table class="table table-dark">
        <thead>
          <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>AUTHON</th>
            <th>DELETE</th>
          </tr>
        </thead>
        <tbody>
            <% for(i=0;i<topics.length;i++) {%>
          <tr>
            <td><%= topics[i].id %></td>
            <td> <a href="/topic/<%= topics[i].id %>"><%= topics[i].title %></a></td>
            <td><%= topics[i].description %></td>
            <td><%= topics[i].author %></td>
            <td><a href="/topic/delete/<%= topics[i].id %>" onclick="return deleteConfirm()"><button type="button" class="btn btn-warning">삭제</button></a></td>
          </tr>
            <% } %>
        </tbody>
      </table>
      <% if(topic) {  %>
        <div class="card card bg-info" >
            <%= topic.title %>
        </div>
        <div class="card card bg-secondary" >
            <p><%= topic.description %></p>
            <p>by <%= topic.author %></p> <br>
        </div>
        <div class="card">
            <a href="/topic/edit/<%= topic.id %>"><button type="button" class="btn btn-success">수정</button></a>
        </div>
    <% } else {  %>
        <div class="card card bg-info" >
            <div class="card-body">Welcome</div>
            This is Server Side JavaScript Tutorial <br>
            <a href="/topic/add"><button type="button" class="btn btn-primary">추가</button></a>
        </div>
    <% } %>
    <script>
        function deleteConfirm(){
            return confirm("정말 삭제하시겠습니다?")
        }
    </script>
</body>
</html>